 body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      padding: 30px;
    }

    .card {
      max-width: 400px;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      margin: auto;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-top: 15px;
    }

    select, input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      background: #2c7be5;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: #1a68d1;
    }

    .resultado {
      margin-top: 20px;
      padding: 15px;
      background: #f0f8ff;
      border-radius: 8px;
      font-size: 15px;
    }

    select{
      width: 400px;
    }

    input{
      width: 380px;
    }