body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: flex-start;

}

.card {
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card2 {
  min-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


select,
input {
  padding: 8px;
  margin-top: 5px;
}

select {
  width: 400px;
}

input {
  width: 380px;
}


button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #2c7be5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1a68d1;
}

.resultado {
  margin-top: 20px;
  padding: 15px;
  background: #f0f8ff;
  border-radius: 8px;
  font-size: 15px;
}


.contenedor {
  display: flex;
  gap: 30px;
}

.formulario {
  width: 45%;
}



.info {
  font-size: 12px;
  color: #555;
  font-style: italic;
}

#calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.dia {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

.libre {
  background: #e8f5e9;
}

.ocupado {
  background: #f8d7da;
  font-weight: bold;
}



@media (max-width: 950px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }

  .card2{
    width: 85%;
  }

  .card{
    width: 90%;
  }
  input{
    width: 90%;
  }
  select{
    width: 95.6%;
  }

}